body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #f5f6f8;
  padding: 40px 50px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

.logo {
  width: 90px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 25px;
  color: #000000;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #002fff;
  border-radius: 8px;
  font-size: 15px;
}

a {
  background-color: #002fff;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c7c7c;

}